rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    
    // Check if the user is logged in via Firebase Auth
    function isAdmin() {
      return request.auth != null; 
    }

    // Public can read, only Admin can write
    match /collections/{document=**} {
      allow read: if true;
      allow write: if isAdmin();
    }
    
    match /reviews/{document=**} {
      allow read: if true;
      allow write: if isAdmin();
    }
    
    match /reels/{document=**} {
      allow read: if true;
      allow write: if isAdmin();
    }
  }
}