rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    match /{allPaths=**} {
      // Public can view images, only Admin can upload/delete
      allow read: if true;
      allow write: if request.auth != null;
    }
  }
}
